################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.nuget
/.vs/Ladon.Net40/v15/.suo
/.vs/Ladon.Net40/v15/.suo
/.vs/Ladon/v15/.suo
/.vs/Ladon/v15/.suo
/.vs/Ladon.Net40/v15/.suo
